#app {
  max-width: 100%;
  margin: 0 auto;
  padding:0;
  font-weight: normal;
}


/* theme changer  */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


/* input text css  */
.input-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input-label {
  font-size: 0.875rem;
}

.input-field {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

/* Change border color on focus */
.input-field:focus {
  border-color: #007bff;
}

/* Disabled input styling */
.input-field:disabled {
  background-color: #f5f5f5;
  color: #999;
  border-color: #ddd;
  cursor: not-allowed;
}


/* select field css  */


.select-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.select-label {
  font-size: 0.875rem;

}

.select-select {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}


.select-select:focus {
  border-color: #007bff;
}


.select-select:disabled {
  background-color: #f5f5f5;
  color: #999;
  appearance: none;
  pointer-events: none;
}

/* button css  */
.custom-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Hover Effect */
.custom-button:hover {
  background-color: #0056b3;
}

/* Active Click Effect */
.custom-button:active {
  transform: scale(0.98);
}

/* Disabled Button */
.custom-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

